.timeline .element:before {
    background: none repeat scroll 0 0 white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    color: white;
    content: " ";
    display: inline-block;
    height: 12px;
    margin-left: -29px;
    padding: 0;
    position: absolute;
    width: 12px;
}
.timeline .element {
    border-left: 4px solid #f1f1f1;
    margin: 0;
    padding: 0 0 10px 20px;
    transition: all 1s ease 0s;
}

.timeline {
    display: inline-block;
    width: 80%;
}

.time {
    display: inline;
    float: left;
    margin-right: 20px;
    text-align: right;
    width: 70px;
}

.module {
    width: 100%;
}

#about.about-section .col-lg-6
{
    margin-bottom: 60px;
    padding-right: 100px;
    padding-left: 100px;
}

#about.about-section .col-lg-6 i,span
{
    font-size: 45px;
    margin-bottom: 10px;
}

#about.about-section .col-lg-12, #projects.projects-section .col-lg-12
{
    margin-bottom: 60px;
}

.contactform
{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
    margin-bottom: 50px;
}

.contactform input, .contactform textarea
{
    height: 80px;
    font-size: 20px;
    padding: 15px 0 15px 10px;
    margin: 0px 0;
    border:none;
    border-bottom: solid 2px #ddd;
    background-color: #eee;
    border-radius: 0px;
}
.contactform:first-child
{
    resize:none;
    border-top: solid 2px #ddd;
}
.contactform textarea
{
    resize:none;
    margin-bottom: 25px;
    height: 120px;
}

.contactform button
{
    width: 80px;
}
.footer-bottom
{
    text-align: center;
    background-color: #233140;
    padding: 20px;
}

.footer-top
{
    background-color: #34495e;
    /*padding: 25px 0;*/
    color: white;
}

.footer-top ul
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-top li
{
    display: inline-block;
    width: 70px;
    color: white;
}

.social-icon
{
    color: #e5e5e5;
    font-size: 30px;
}

.fa-chevron-down
{
    font-size: 45px;
    margin-top: 50px;
}


.projects-section .col-lg-4
{
    padding-right: 30px;
    padding-left: 30px;
}